body {
    margin: 0%;
}

.logo {
    /* margin: auto; */
    max-width: 100%;
    /* height: 90%; */
    max-height: 80vh;
    /* border: 5px solid green; */
    
}

.header {
    text-align:center;
    width:100%;
    /* display:block; */
    /* margin: auto; */
    /* border: 5px solid red; */
}

.foot {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
}



/* Imported Navbar */
.menu {
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
  }
  .menu * {
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
  }
  .menu li {
    display: inline-block;
    list-style: outside none none;
    margin: 0 1.5em;
    overflow: hidden;
  }
  .menu a {
    padding: 0.3em 0;
    color: #212121;
    position: relative;
    display: inline-block;
    letter-spacing: 1px;
    margin: 0;
    text-decoration: none;
  }
  .menu a:before,
  .menu a:after {
    position: absolute;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
  }
  .menu a:before {
    bottom: 100%;
    display: block;
    height: 3px;
    width: 100%;
    content: "";
    background-color: #57747e;
  }
  .menu a:after {
    padding: 0.3em 0;
    position: absolute;
    bottom: 100%;
    left: 0;
    content: attr(data-hover);
    color: #212121;
    white-space: nowrap;
  }
  .menu li:hover a,
  .menu .current a {
    transform: translateY(100%);
  }